# Scope of the Notebook

We want to extract the information from the csv and xml file. We also want to transform the data in the right format and do some simple aggregation. 

The transformed data will be loaded into a postgres database

In [1]:
# imports

import pandas as pd
import numpy as np

## 1. Extract and Transform the .xml file from wikipedia

In [ ]:
# 1. to extract the xml from the gz https://stackoverflow.com/questions/26577777/how-to-copy-and-extract-gz-files-using-python
import gzip
import glob
import os.path
from pathlib import Path
import shutil

source_dir = str(Path().absolute())
dest_dir = str(Path().absolute())
# we generate a temp file before extrcting as a safeguard
tmpfile = str(Path().absolute())+'tmp_file.xml'

for src_name in glob.glob(os.path.join(source_dir, '*.gz')):
    base = os.path.basename(src_name)
    dest_name = os.path.join(dest_dir, base[:-3])
    shutil.copyfile(src_name, tmpfile)
    with gzip.open(tmpfile, 'rb') as infile:
        with open(dest_name, 'wb') as outfile:
            for line in infile:
                outfile.write(line)

# Parse XML into dataframe

In [ ]:
# https://www.iditect.com/how-to/56888333.html
from lxml import etree

tree = etree.parse('enwiki-latest-abstract.xml')
root = tree.getroot()

In [ ]:
# let's have a look at the raw structure of the root element
print(etree.tostring(root[0], pretty_print=True).decode("utf-8"))

In [ ]:
# here we can explore the root in a more structured way
def explore_element(element):
    print(element.tag)
    print(element.attrib)
    print(element.text)
    for child in element:
        explore_element(child)

explore_element(root[0])

We notice that the elements we are interested in are the element at 0, 1, and 2 respectively the title, the url and the abstract.

## Using simple for loop to extract info from the XML

In [ ]:
# we can access the XML

## Using lxml and findall

In [ ]:
# we can create a function that iterate over the xml root and create a list of the text contained in the element tag

def text_extract(tag):
    """
    Get the text contained within the specific tag
    
    input tag: string of tag present in the Element tree
    """
    tmp_titles = []
    
    for title in root.findall('.//'+tag, namespaces=root.nsmap):
        tmp_titles.append(title.text)
    return tmp_titles

In [ ]:
# this lead to slow performance ~25-30min only for one element
title_lst = text_extract('title')

Another approach could be the one to treat the xml as a tree of objects. We can construct a for loop to iterate over the different elements of the root and parse the content in a dictionary. This will then serve to create a dataframe

In [ ]:
# first we need to understand how many element of interest we have. This takes ~ 14 min to run
len(list(root))

In [ ]:
# a quick look at the structure and we realize we can query the element directly
display(root[0][0].text)
display(root[0][1].text)
display(root[0][2].text)

We have the following strucutre 
root --> element --> tag 
where the 1st tag is the title, the second tag is th url and the third tag is the abstract

In [ ]:
# initialize dictionary to store extraction over 10000 doens't finish
data_dump = {}

for i in range(0, 1000):
    data_dump[root[i][0].text] = {
        'url':root[i][1].text,
        'abstract':root[i][2].text,
    }

In [ ]:
len(data_dump)

However, this method doesn't lead to efficiency at the increase of the number of items. I decide to use the initial function using map, which is more efficient than a simple for loop.

In [ ]:
# using map 
def append(title):
    return title.text
# ~ 15 min
titles = list(map(append, root.findall('.//title', namespaces=root.nsmap)))

In [ ]:
# ~ 15 min
urls = list(map(append, root.findall('.//url', namespaces=root.nsmap)))

In [ ]:
abstracts = list(map(append, root.findall('.//abstract', namespaces=root.nsmap)))

The script for extracting all the data from the xml takes about 2 hours and 20 min with map.

In [ ]:
wikipedia_dump_df = pd.DataFrame()

In [ ]:
wikipedia_dump_df['title'] = titles
wikipedia_dump_df['abstract'] = abstracts
wikipedia_dump_df['url'] = urls

In [ ]:
wikipedia_dump_df.head()

In [ ]:
wikipedia_dump_df.to_csv('wikipedia_dump.csv', index = False)

## Clean xml dataframe

In [ ]:
# remove the wikipedia pattern from the title string
wikipedia_dump_df['title'] = wikipedia_dump_df['title'].map(lambda x: x.lstrip('Wikipedia: '))

In [ ]:
# # lower string title
# wikipedia_dump_df['title'] = wikipedia_dump_df.title.str.lower()

In [ ]:
# # lower string title
# wikipedia_dump_df['title_squeeze'] = wikipedia_dump_df.title.str.replace(' ', '')

### Check duplication

In [ ]:
wikipedia_dump_df.groupby('title')['title'].count().sort_values(ascending = False).head(10)

We realize that we might find ourselves with multiple entries of the same title. This could create problems down the line. 

**Assumption** we might need to keep the titles as they are. Since we are going to match the titles of wikipedia articles with the titles of the movies, we might need to maintain the Upper/lower cases and spaces to match the movie titles. In fact, we realize that the wikipedia dump might contain a mix of words, thus we might achieve a more specific join using the non-transformed titles.

In [ ]:
wikipedia_dump_df[(wikipedia_dump_df['title'] == 'Life') | (wikipedia_dump_df['title'] == 'Red') | (wikipedia_dump_df['title'] == 'Ali') | (wikipedia_dump_df['title'] == 'The Kingdom') ]

We notice that the duplication may come from cases where the title is ambiguous. In those cases, we can have multiple abstracts and urls indicating different options. At this stage, we don't have a good way to quickly reconcile these cases. 

A potential solution could be to further explore the XML file to understand wether there are anchors available to select only movie pages. 

Alternatively, we could search the abstract of these cases for hints suggesting movies (e.g. the string contains the word movie).

# Load csv

In [40]:
media_csv = pd.read_csv('movies_metadata.csv')

/Users/manfredimiraula/.virtualenvs/projects/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [41]:
media_csv.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [42]:
media_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

There are some missing data in the dataset. In particular, we notice that we have 6 films with no revenue, no title. 87 films don't have a release_date and only 3 films don't have a production companies. 

Also in this case, we want to keep the titles as they are to perfrom a specific match with the wikipedia articles.

In [43]:
# # lower string case in original title
# media_csv['original_title'] = media_csv.original_title.str.lower()

In [44]:
# # lower string case in original title
# media_csv['title_squeeze'] = media_csv.original_title.str.replace(' ', '')

## EDA

In [45]:
media_csv[media_csv['title'].isnull()][['original_title', 'title', 'revenue', 'production_companies']]

,original_title,title,revenue,production_companies
19729,Midnight Man,NaN,NaN,NaN
19730,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,NaN,False
29502,マルドゥック・スクランブル 排気,NaN,NaN,NaN
29503,"[{'iso_639_1': 'ja', 'name': '日本語'}]",NaN,NaN,False
35586,Avalanche Sharks,NaN,NaN,NaN
35587,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,NaN,False

Looking at the entries without a title, we notice that some of these have non-standard characters (Japanese) and some seem to have not a movie title. In future iteration, we should consider the handlling of movies with non-standard characters. However, for the purpose of this script, we can use the colum "original_title" as the key to join with the wikipedia dataset. These movies are also the ones with no revenue or production companies. 

At this stage, we decide not to evaluate any method for imputing the missing value as further understanding of the data and additional context would be needed.

In [46]:
media_csv[media_csv['release_date'].isnull()]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
711,False,NaN,0,[],NaN,365371,tt0114894,en,War Stories Our Mother Never Told Us,Seven New Zealand women speak about their live...,...,NaN,0.0,95.0,[],Released,NaN,War Stories Our Mother Never Told Us,False,0.0,0.0
734,False,NaN,0,[],NaN,215107,tt0105737,en,Vermont Is for Lovers,Vermont is for Lovers is an independently prod...,...,NaN,0.0,88.0,[],Released,NaN,Vermont Is for Lovers,False,0.0,0.0
3460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,94214,tt0210130,en,"Jails, Hospitals & Hip-Hop","Jails, Hospitals &amp; Hip-Hop is a cinematic ...",...,NaN,10.0,90.0,[],NaN,three worlds / two million voices / one genera...,"Jails, Hospitals & Hip-Hop",False,0.0,0.0
3628,False,NaN,0,[],NaN,207731,tt0217287,en,Boricua's Bond,"Tommy, a talented Puerto Rican painter living ...",...,NaN,0.0,105.0,[],Released,NaN,Boricua's Bond,False,2.0,1.0
5879,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,99885,tt0979876,en,Divine Intervention,Four friends fight an insane man's crusade to ...,...,NaN,0.0,87.0,[],Released,His Judgement Cometh...,Divine Intervention,False,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45148,False,NaN,0,[],NaN,438910,tt0810384,ru,Konstruktor krasnogo tsveta -1993,Engineering Red - 1993 Dir: Andrey I. Y. Petr...,...,NaN,0.0,76.0,[],Released,NaN,Engineering Red,False,6.0,2.0
45203,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 878, ...",NaN,433711,tt3158690,en,All Superheroes Must Die 2: The Last Superhero,"In a no holds barred documentary, acclaimed jo...",...,NaN,0.0,74.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,All Superheroes Must Die 2: The Last Superhero,False,4.0,1.0
45338,False,NaN,0,[],NaN,335251,tt1883368,en,The Land Where the Blues Began,An exploration of the musical and social origi...,...,NaN,0.0,0.0,[],Released,NaN,The Land Where the Blues Began,False,0.0,0.0
45410,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,449131,tt0321264,ru,Aprel,NaN,...,NaN,0.0,NaN,[],Released,NaN,Aprel,False,6.0,1.0
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0

We can't evaluate any peculiar pattern at first glance.

### Handling budget and revenue column
We notice that the budget column possess mixed data types. Additionally, we realize that a number of budget columns contain a vlaue of zero (or they are Null). 

Without additional investigation or context, is hard to impute these columns and, at the same time, we don't want to carry them as it will impact the value of the ratio giving infinite values which cannot be sorted properly. We decide to drop these columns. 

We also notice that we have a number of columns which have a very low budget and revenue. For example the title Karate Kid part 2 has a budget of 113. This is probably an incorrect imputation of the budget. It would make sense for it to be 113,000 as it is expected that a move production is very costly. However, we don't have a good way at this stage to impute this value. At the same time, if we carry over this rows we might have imprecise consideration on the calculation of the ratio. For this reason, we decide to only carry over those rows for which the budget and revenue is higher than the median budget of the movies we have at our disposal. We select the median value so that we can limit the effect of outliers. We could have used the 25th percentile instead, to carry more entries.

These columns account for 2.8K+ (or ~2% of our dataset). For sure this is something we would want to improve down the line

In [47]:
media_df = media_csv.copy()

In [48]:
# example of column with a mixed type
media_df[media_df['budget'] == '/ff9qCepilowshEtG2GYWwzt2bs4.jpg']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
# transform the column values with text in integer 
mask = media_df[media_df['budget'].str.isnumeric() == False].index
media_df.loc[mask,'budget'] = 0

In [50]:
media_df[media_df['budget'] == '/ff9qCepilowshEtG2GYWwzt2bs4.jpg']

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [51]:
media_df['budget'] = media_df['budget'].astype(int)

In [52]:
# evaluate the revenue column. We have some values that are zero but others that have very low revenue
print('Median revenue is: ' + str(media_df[media_df['revenue'] > 0]['revenue'].median()))
print('25th percentile is: ' + str(media_df[media_df['revenue'] > 0]['revenue'].quantile(q = 0.25)))

Median revenue is: 16822718.5
25th percentile is: 2400000.0

In [53]:
# evaluate the revenue column. We have some values that are zero but others that have very low budget
print('Median budget is: ' + str(media_df[media_df['budget'] > 0]['budget'].median()))
print('25th percentile is: ' + str(media_df[media_df['budget'] > 0]['budget'].quantile(q = 0.25)))

Median budget is: 8000000.0
25th percentile is: 2000000.0

In [54]:
# we check the amount of entries we carry over by applying these masks
media_df[(media_df['budget'] >= 8000000) & (media_df['revenue'] > 16822718.5)]['title'].count()

2855

In [55]:
media_df = media_df[(media_df['budget'] >= 8000000) & (media_df['revenue'] > 16822718.5)]

In [56]:
# we create the ratio column
media_df['ratio'] = media_df['budget']/media_df['revenue']

In [57]:
# we have no column named "rating". However, we can observe a column popularity. We take this as a rating value
media_df = media_df[['original_title', 'title', 'budget', 'release_date', 'revenue', 'ratio','popularity', 'production_companies']]

In [58]:
media_df.production_companies.head(10)

0        [{'name': 'Pixar Animation Studios', 'id': 3}]
1     [{'name': 'TriStar Pictures', 'id': 559}, {'na...
3     [{'name': 'Twentieth Century Fox Film Corporat...
5     [{'name': 'Regency Enterprises', 'id': 508}, {...
8     [{'name': 'Universal Pictures', 'id': 33}, {'n...
9     [{'name': 'United Artists', 'id': 60}, {'name'...
10    [{'name': 'Columbia Pictures', 'id': 5}, {'nam...
15    [{'name': 'Universal Pictures', 'id': 33}, {'n...
16    [{'name': 'Columbia Pictures Corporation', 'id...
18    [{'name': 'O Entertainment', 'id': 5682}, {'na...
Name: production_companies, dtype: object

We have noticed that the production_companies column contains a json-like string. We decide to not transform this column at this stage. However, an option could be to expand the json so that, for movies with multiple production companies, we obtain one column for each company. However, additional information on the final goal of this data would be needed to make this decision

If we try to convert the popularity column to a float we obtain an error related to a mixed composition of float and strings. We can convert the string values to NaN using some pandas functions

In [68]:
# transform the populatity column into a float type
media_csv[media_csv['popularity'] == 'Beware Of Frost Bites']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
media_csv['popularity'] = pd.to_numeric(media_csv['popularity'],errors='coerce').astype(float)

### Check for duplication

In [ ]:
media_df.groupby('original_title')['original_title'].count().sort_values(ascending = False).head(10)

In [ ]:
media_df[(media_df['title'] == 'Beauty and the Beast')|(media_df['title'] == 'Clockstoppers')|(media_df['title'] == 'Life')|(media_df['title'] == 'The Manchurian Candidate')|(media_df['title'] == 'The Three Musketeers')].sort_values('original_title')

We see that the duplicates have multiple popularity ratings. Without additional context, we will select those titles with the higher popularity score. We should be mindful that we don't remove cases where the title is the same but the movie is different (e.g. older, more recent version of the movie like Beauty And The Beast). In these cases, we will use the release date to understand wether the movie is the same or not

In [ ]:
# keep only the duplicates where the release_date is different
media_df = media_df.drop_duplicates(subset=['release_date','title'], keep='first')

In [ ]:
# order by the ratio value and take the first 1000 entries
media_df = media_df.sort_values('ratio', ascending = False).head(1000)

In [ ]:
media_df.info()

In [ ]:
media_df.head(5)

In [ ]:
# store the csv for backup
media_df.to_csv('media_df.csv', index = False)

# Merge

In [ ]:
# left merge to join the two dataset
temp = media_df.merge(wikipedia_dump_df, how = 'left', on = 'title')

In [ ]:
temp.info()

In [ ]:
temp.head(2)

In [ ]:
final_df = temp[['title', 'budget', 'release_date', 'revenue', 'ratio','popularity', 'production_companies', 'abstract', 'url']]

In [ ]:
final_df.rename(columns = {
    'original_title':'title', 
    'optimized_budget':'budget', 
    'release_date': 'year', 
    'popularity':'rating', 
    'production_companies': 'production_company'}, inplace = True)

We weren't able to match all the 1000 titles with the wikipedia match. This might be do to a mismatch at the level of the title or due to the incompleteness of the wikipedia dump. 

A google search allowed me to understand that the wikipedia dump is not always relaiable and may not contain all the indexed pages. It seems reasonable that we are able to partially match the 1000 title.

In [ ]:
final_df.info()

In [ ]:
final_df.to_csv('pre-load-df.csv', index = False)

# Initialize the Postgres database

In [ ]:
from sqlalchemy import create_engine
import psycopg2

In [ ]:
# create a connection with the database
try:
    conn = psycopg2.connect(database = "postgres", user = "truer", password = "filmaker", host = "localhost", port = "5432")
except:
    print("I am unable to connect to the database")

In [ ]:
engine = create_engine('postgresql+psycopg2://{}:{}@{}:{}/postgres' \
    .format('truer', # username
            'filmaker', # password
            'localhost', # host
            '5432' # local port
           ) 
    , echo=False)

First, we want to have created the postgres database. We will have to do this via the command line
Installation/setup
- Install Homebrew
    - How to
- Install postgresql
- pg_ctl -D /usr/local/var/postgres start && brew services start postgresql (if you want to make sure that postgres starts at computer start)
- validate correct installation using postgres -V

Start postgres via terminal and initialize the database 
- psql postgres
    - if you encounter the following error "could not connect to server: No such file or directory
        Is the server running locally and accepting
        connections on Unix domain socket "/tmp/.s.PGSQL.5432"?" try to run:
        - $ rm /usr/local/var/postgres/postmaster.pid
        - $ brew services restart postgresql
- if everything went correctly, you should see the postgres database in terminal accepting commands
- now we need to create our user and access to the database. Postgres automatically create a user when we initialize the DB, but since I won't be controlling it, in order to automate the process I specific user and passowrd so that I'm sure we can specify the same in the following script to import the data
- run CREATE ROLE truer  WITH LOGIN PASSWORD 'filmaker'; --> this will create the role with password
- run ALTER ROLE truer  CREATEDB; --> this will allow the user we just created to create and modify the database
- run \du to check that the role is present with the correct permission

In [ ]:
cur = conn.cursor()
try:
    cur.execute("""
    DROP TABLE IF EXISTS true_film;
    CREATE TABLE IF NOT EXISTS true_film
	(
        id SERIAL NOT NULL, 
        
        title varchar(255),
        
        budget bigint,

		year date,
        
        revenue numeric, 
        
        ratio numeric, 
        
        rating numeric, 

        production_company text,
        
        abstract text,
        
        url varchar(255), 

		created_at timestamp without time zone NOT NULL DEFAULT NOW(),
    	updated_at timestamp without time zone DEFAULT NULL,
    	CONSTRAINT true_film_key PRIMARY KEY (id)

		)
	WITH (
    OIDS = FALSE
)
TABLESPACE pg_default;

ALTER TABLE true_film
    OWNER to truer;

CREATE INDEX true_film_title ON true_film(title, production_company, ratio, revenue);""")
except:
    print("I can't drop our test database!")

conn.commit() # <--- makes sure the change is shown in the database
conn.close()
cur.close()

In [ ]:
# verify that the table has been created
engine.execute("""
SELECT * FROM true_film;
""")

In [ ]:
final_df.to_sql('true_film', engine, if_exists = 'append', index = False,
               chunksize = 1000, method = 'multi')